<form method="POST" action="/signIn">
    <h2>Авторизация</h2>
    <input type="text" name="username" placeholder="login" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit">Войти</button>
    <a href="/signUp">Я еще не зарегистрирован</a>
</form>