<form method="POST" action="/signUp">
    <h2>Регистрация</h2>
    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit">Зарегистрироваться</button>
    <a href="/signIn">У меня уже есть аккаунт</a>
</form>